
body {
    font:13px/1.231 'Open Sans', arial,helvetica,clean,sans-serif;
    color: #333333;
    line-height: 1.5;
    margin: 0;
    text-align: center;
    /*padding: 20px;*/
    letter-spacing: .05em;
    /*
    background-image:url("http://en.mascot.uefa.com/content/img/core/goodies/d1-2048x1536.jpg");
    */
    background-size: cover;
    -webkit-print-color-adjust: exact;
}
.price {
    font-size: 25px;
    float: right;
}

.head {
  width: 100%;
  border: 1px solid #DDD;
  margin: 0;
  text-align: center;
  background-color: rgba(247,247,247,0.5);
  padding: 1em;
}
.leagalese {
  font-size:9px
  text-align:left;
}

table {
    font-size:inherit;
    font: 100%;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #BBB;
    /*margin-top: 2em;*/
}

td {
    width: 33%;
    border: 1px solid #DDD;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    background-color: rgba(247,247,247,0.7);
    padding: 1em;
}

td img.flag {
    height: 6em;
    border: 1px solid #CCC;
    background-color: #FFF;
    display: block;
    margin: 0 auto;
}

td p.team-name {
    margin: 0.7em 0 0 0;
    font-size: 140%;
    font-weight: bold;
}

tr {
}

h1 {
    padding-top: 0;
    margin-top: 0;
    font-weight: bold;
    color: #444;
    font-size: 197%;
}

/*
.background {
  background-image:url("http://en.mascot.uefa.com/content/img/core/goodies/d1-2048x1536.jpg");
  background-size: cover;
  background-position: -70px 0px;
}
*/

.bingo {
    page-break-after: always;
    background-color: rgba(247,247,247,0.5);
}

.boardids {
    page-break-after: always;
    background-color: rgba(247,247,247,0.5);
    text-align: left;
  }

.rules {
    font-size: 92%;
    margin: 1em 0 1.5em 0;
    border: 1px solid #DDD;
    background: rgba(252,222,125,0.95);
    padding: 10px;
    line-height: 1.4;
    text-align: left;
    /*width: 46em;*/
    border-radius: 10px;
     -moz-border-radius: 10px;
     -webkit-border-radius: 10px;

}

.rules li {
    margin-left: 1.5em;
    font-style: italic;
}

.gen-rules {
    margin: 0;
    font-size: 90%;
    text-align: left;
}
.hash {
    margin: 0.5em 0;
    border: 1px solid #DDE;
    background-color: #F5F5F5;
    float: right;
    padding: 5px;
    border-radius: 4px;
     -moz-border-radius: 4px;
     -webkit-border-radius: 4px;
}
